<div class="container-fluid">
  <!-- Video area -->
  <div class="pure-u-2-3 clearfix" id="video-container">
    <div id="my-cards">
        自分ののカード表示
    </div>
    <div id="their-videos" class="clearfix their-video-wrapper">
      <!-- これが一つの画面 -->
    </div>

    <div id="their-cards">
      とる相手のカード表示
    </div>

      <div class="my-video-wrapper">
        <div class="action">
          <h2 id="room" data-room="<%= @room.name %>" data-id="<%= current_user.id%>"><%= "#{@room.name}部屋" %></h2>
          <div id="step2">
            <button id="participate" class="btn btn-success">参加する</button>
            <button id="game-start" class="btn btn-success">ゲーム開始</button>

            <button id="end-call" class="btn btn-warning">Tel Off</button>
            <%= link_to "部屋を出る", root_path , class: "btn btn-default" %>
          </div>
           <div class="settings">
          <h3>Settigns</h3>

          <div class="select">
            <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
          </div>

          <div class="select">
            <label for="videoSource">Video source: </label><select id="videoSource"></select>
          </div>

          <!-- キャンバスの作成 -->
          <button id="face_start">スタート</button>
          <canvas id="canvas" width="480px" height="270px"></canvas>
        </div>

        </div>
        <label id="my-label"></label>
        <div class="my-video-con"><video id="my-video" muted="true" autoplay playsinline></video></div>
      </div>
    </div>
  </div>

  <!-- Steps -->

<%= javascript_pack_tag 'game' %>
<%= stylesheet_link_tag "room_show.css" %>
