<div class="container-fluid">
  <!-- Video area -->
  <div class="row">
    <div class="col-9 bg-success">
      <div class="col-9 fixed-top bg-dark" id="my-cards">
          <p class="lead text-white">MYCARDS</p>
      </div>
      <div id="their-videos" class="clearfix their-video-wrapper">
        <!-- これが一つの画面 -->
      </div>
      <div class="col-9 fixed-bottom bg-dark" id="their-cards">
        <p class="lead text-white">TAKECARDS</p>
      </div>
    
    </div>

    <div class="col-3 border-left bg-success pt-3">
      <h2 class="text-white" id="room" data-room="<%= @room.name %>" data-id="<%= current_user.id%>"><%= "#{@room.name}部屋" %></h2>
      <div id="step2">
        <button id="participate" class="btn btn-light">参加する</button>
        <button id="game-start" class="btn btn-light">ゲーム開始</button>

        <button id="end-call" class="btn btn-warning">Tel Off</button>
        <%= link_to "部屋を出る", root_path , class: "btn btn-light" %>
      </div>
      <div class="settings card m-4">
        <div class="card-header">Settigns</div>
        <div class="card-body">
          
          
          <div class="select form-group">
            <label for="audioSource">Audio Input Source: </label>
            <select class="form-control"id="audioSource"></select>
          </div>

          <div class="select">
            <label for="videoSource">Video Source: </label>
            <select class="form-control" id="videoSource"></select>
          </div>
        </div>
      </div>

      <!-- キャンバスの作成 -->
      <label id="my-label"></label>
      <div class="my-video-con">
        <canvas id="canvas" width="480px" height="270px"></canvas>
        <video id="my-video" muted="true" autoplay playsinline></video>
      </div>
    </div>
  </div>
</div>

  <!-- Steps -->

<%= javascript_pack_tag 'game' %>
<%= stylesheet_link_tag "room_show.css" %>
