<!DOCTYPE html>
<html>
  <head>
    <title>Baba2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "animate.css" %>
    <%= stylesheet_link_tag "magic.min.css" %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <div class="header_left header_item">
          <span class="header_logo">ばばぬき</span>
        </div>
        <div class="header_center header_item">
          <%= form_with model: @room, class: "room_form" do |form| %>
            <%= form.text_field :name, class: "room_input" %>
            <%= submit_tag "作成", class: "room_submit" %>
          <% end %>
        </div>
      </header>
    <% end %>
    <%= yield %>
    <% if user_signed_in? %>
      <footer class="footer clearfix">
        <div class="footer_right">
          <% if user_signed_in? %>
            <%= link_to "ログアウト", logout_path %>
          <% end %>
        </div>
        <div class="footer_center">
          Copyright(C)2018 キャンプ All Rights Reserved.
        </div>
      </footer>
    <% end %>
  </body>
</html>
